appdirs
attrs
black
certifi       
charset-normalizer 
click
colorama
decorator
Flask
Flask-SQLAlchemy
greenlet
idna
imageio
InstagramAPI
itsdangerous
Jinja2
MarkupSafe
moviepy
mypy
mypy-extensions
numpy
pathspec
Pillow
platformdirs
regex
requests
requests-toolbelt
six
spotipy
SQLAlchemy
toml
tomli
tqdm
typed-ast
typing_extensions
urllib3
Werkzeug